@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 25px;
}
.btn-yellow:hover {
  background-color: transparent;
  border-color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 8px 20px;
  font-weight: 500;
  border-radius: 25px;
}
.btn-transparent:hover {
  background-color: #d3d2cf;
  border-color: #191919;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  display: flex;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0EFE9;
  gap: 70px;
}
header .container .menu {
  flex: 1;
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .top-menu .contact-info {
  display: flex;
  align-items: center;
}
header .container .menu .top-menu .contact-info .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-size: small;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-info .content-box.last {
  border-right: none;
}
header .container .menu .top-menu .contact-info .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
  color: #666666;
  align-items: center;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.2rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a:hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
}
header .container .menu .main-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  display: inline-block;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a:hover {
  text-decoration: underline;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 86px;
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.showcase .container .content a {
  margin-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.showcase img {
  margin-right: -50px;
}

.logoads .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.showcase-2 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #DAD9D3;
  padding: 100px;
}
.showcase-2 .container .text {
  grid-template-columns: 1fr 1fr;
}
.showcase-2 .container .text p {
  color: rgb(255, 51, 0);
  font-weight: 500;
}
.showcase-2 .container .text h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 45px;
  padding-right: 100px;
}
.showcase-2 .container .text .learn {
  padding: 8px 152px;
  margin-top: 20px;
  font-weight: 600;
}
.showcase-2 .container .choices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #464343;
}
.showcase-2 .container .choices .business {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
.showcase-2 .container .choices .financial {
  grid-column: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
.showcase-2 .container .choices .startup {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.showcase-2 .container .choices .risk {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.showcase-2 .container .choices i {
  font-size: 1.8em;
  margin-top: 35px;
  margin-bottom: 30px;
}
.showcase-2 .container .choices h5 {
  font-weight: 600;
}
.showcase-2 .container .choices p {
  font-size: 15px;
  padding-right: 20px;
  padding-top: 10px;
  font-weight: 300;
  color: #666666;
}