button1 {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: hidden;
    background-color: antiquewhite;
}
button2 {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: hidden;
    background-color: antiquewhite;
}
button3 {
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: hidden;
    background-color: antiquewhite;
}
buttonlgn{
    background-color:rgb(238, 192, 107)
}

footer {
    background-color: antiquewhite;

}

