header {
  background-color: rgb(240, 239, 234);
  height: 600px;
}
header button1 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}
header button2 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}
header button3 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}
header button4 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}
header button5 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}
header button6 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}
header button7 {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
  border: hidden;
  background-color: rgb(240, 239, 234);
}